Repository locationtech/jts, pull requests merged in 2019-07, with the labels that each got.

#445 Fix HalfEdge insertion logic
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/edgegraph/HalfEdge.java
  modules/core/src/test/java/org/locationtech/jts/edgegraph/EdgeGraphTest.java
Labels: jts-core, type-bug

#446 Fix HalfEdge valid node check
  modules/core/src/main/java/org/locationtech/jts/edgegraph/HalfEdge.java
  modules/core/src/test/java/org/locationtech/jts/edgegraph/EdgeGraphTest.java
Labels: jts-core, type-bug

#448 Fix Voronoi polygon generation by adding robust Triangle circumcentreDD
  doc/JTS_Version_History.md
  modules/app/src/main/java/org/locationtech/jtstest/function/TriangleFunctions.java
  modules/core/src/main/java/org/locationtech/jts/geom/Triangle.java
  modules/core/src/main/java/org/locationtech/jts/math/DD.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/quadedge/QuadEdgeSubdivision.java
  modules/core/src/test/java/org/locationtech/jts/geom/TriangleCircumcentreTest.java
  modules/core/src/test/java/org/locationtech/jts/triangulate/VoronoiTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
  modules/core/src/test/java/test/jts/WKTorBReader.java
Labels: jts-core, type-bug

#449 Fix VoronoiDiagramBuilder clipping
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/geom/Envelope.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/VoronoiDiagramBuilder.java
  modules/core/src/test/java/org/locationtech/jts/geom/EnvelopeTest.java
  modules/core/src/test/java/org/locationtech/jts/triangulate/VoronoiDiagramBuilderTest.java
  modules/core/src/test/java/org/locationtech/jts/triangulate/VoronoiTest.java
Labels: jts-core, type-bug, type-enhancement

#451 Add CLI for running operations
  bin/testbuilderop.bat
  bin/testbuilderop.sh
  doc/JTS_Version_History.md
  modules/app/src/main/java/org/locationtech/jtstest/geomfunction/GeometryFunctionRegistry.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/JTSTestBuilder.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/cmd/CommandOptions.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/cmd/TestBuilderOpCmd.java
  modules/tests/src/main/java/org/locationtech/jtstest/command/CommandLine.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/JTSTestRunnerCmd.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/SimpleReportWriter.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/Test.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestCase.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestEngine.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestReader.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestRun.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestRunBuilder.java
Labels: jts-app, type-enhancement

#453 Change to JTSOpCmd with many enhancements
  bin/jtsop.bat
  bin/jtsop.sh
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/cmd/CommandOptions.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/cmd/JTSOpCmd.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/io/SVGTestWriter.java
  modules/tests/src/main/java/org/locationtech/jtstest/command/CommandLine.java
  modules/tests/src/main/java/org/locationtech/jtstest/command/Option.java
Labels: jts-app, type-enhancement

#454 Mark jtsop.sh executable
  bin/jtsop.sh
Labels: jts-app, type-bug
