Repository locationtech/jts, pull requests merged in 2019-09, with the labels that each got.

#468 Improve line intersection code
  modules/core/src/main/java/org/locationtech/jts/algorithm/CGAlgorithmsDD.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/HCoordinate.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/Intersection.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/RobustLineIntersector.java
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetSegmentGenerator.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/IntersectionTest.java
  modules/core/src/test/java/org/locationtech/jts/geom/LineSegmentTest.java
  modules/core/src/test/java/test/jts/perf/algorithm/IntersectionAlgorithms.java
  modules/core/src/test/java/test/jts/perf/algorithm/IntersectionPerfTest.java
  modules/core/src/test/java/test/jts/perf/algorithm/IntersectionStressTest.java
  modules/tests/src/test/resources/testxml/general/TestBufferMitredJoin.xml
Labels: jts-core, type-improvement

#470 Add CascadedPolygonUnion bufferUnion
  modules/core/src/main/java/org/locationtech/jts/operation/union/OverlapUnion.java
Labels: jts-core, jts-core-overlay, type-improvement

#471 Add test for CascadedPolygonUnion bufferUnion fix
  modules/tests/src/test/resources/testxml/general/TestUnaryUnionFloating.xml
Labels: jts-core, type-improvement

#479 Add HalfEdge support for direction points
  modules/core/src/main/java/org/locationtech/jts/edgegraph/EdgeGraph.java
  modules/core/src/main/java/org/locationtech/jts/edgegraph/HalfEdge.java
Labels: jts-core, type-improvement

#480 Fix Distance3Dop geometries order
  modules/core/src/main/java/org/locationtech/jts/operation/distance3d/Distance3DOp.java
  modules/core/src/test/java/org/locationtech/jts/operation/distance3d/Distance3DOpTest.java
Labels: jts-core, type-bug
