Repository locationtech/jts, pull requests merged in 2019-04, with the labels that each got.

#409 Consistent ordinate formatting
  doc/JTS_Version_History.md
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/geom/GeometryLocation.java
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateSequences.java
  modules/core/src/main/java/org/locationtech/jts/io/OrdinateFormat.java
  modules/core/src/main/java/org/locationtech/jts/io/WKTWriter.java
  modules/core/src/main/java/org/locationtech/jts/util/StringUtil.java
  modules/core/src/test/java/org/locationtech/jts/io/OrdinateFormatTest.java
  modules/core/src/test/java/org/locationtech/jts/io/WKTWriterStaticFnTest.java
Labels: jts-core, type-enhancement

#415 Fix Quadtree ensureExtent method
  modules/core/src/main/java/org/locationtech/jts/index/quadtree/Quadtree.java
Labels: jts-core, type-bug

#416 Remove uses of number class constructors
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/SpatialFunctionPanel.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/geom/ComponentLocater.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/geom/FacetLocater.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/SwingUtil.java
  modules/app/src/main/java/org/locationtech/jtstest/util/ClassUtil.java
  modules/core/src/main/java/org/locationtech/jts/geom/PrecisionModel.java
  modules/core/src/main/java/org/locationtech/jts/geomgraph/index/MonotoneChainIndexer.java
  modules/core/src/main/java/org/locationtech/jts/index/chain/MonotoneChainBuilder.java
  modules/core/src/main/java/org/locationtech/jts/io/gml2/GeometryStrategies.java
  modules/core/src/main/java/org/locationtech/jts/noding/SegmentNodeList.java
  modules/tests/src/main/java/org/locationtech/jtstest/geomop/ArgumentConverter.java
  modules/tests/src/main/java/org/locationtech/jtstest/geomop/GeometryMethodOperation.java
Labels: type-cleanup

#417 Fix CoordinateSequencesTest.checkCoordinateAt() test for y
  modules/core/src/test/java/org/locationtech/jts/geom/CoordinateSequencesTest.java
Labels: jts-core, type-bug

#421 Fix LinearLocation endpoint segment index bugs
  modules/core/src/main/java/org/locationtech/jts/linearref/LinearLocation.java
  modules/core/src/test/java/org/locationtech/jts/linearref/LinearLocationTest.java
Labels: jts-core, type-bug

#423 Add TestRunner free args
  DEVELOPING.md
  doc/JTS_Version_History.md
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/JTSTestRunnerCmd.java
Labels: tools, type-enhancement

#422 Improve performance of UniqueCoordinateFilter
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateFilter.java
  modules/core/src/main/java/org/locationtech/jts/util/UniqueCoordinateArrayFilter.java
Labels: jts-core, type-enhancement

#426 Fix MinimjmBoundingCircle maximum diameter computation
  doc/JTS_Version_History.md
  modules/app/src/main/java/org/locationtech/jtstest/function/ConstructionFunctions.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/MinimumBoundingCircle.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/MinimumBoundingCircleTest.java
Labels: jts-core, type-bug
