Repository locationtech/jts, pull requests merged in 2019-02, with the labels that each got.

#369 Improved Interior Point for Area implementation
  doc/JTS_Version_History.md
  modules/core/pom.xml
  modules/core/src/main/java/org/locationtech/jts/algorithm/InteriorPoint.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/InteriorPointArea.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/InteriorPointLine.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/InteriorPointPoint.java
  modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/InteriorPointTest.java
Labels: jts-core, type-enhancement

#371 Add simple test for using CoordinateXYM
  modules/core/src/test/java/org/locationtech/jts/geom/impl/BasicCoordinateSequenceTest.java
Labels: jts-core, type-enhancement

#377 InteriorPointArea minor code cleanup
  modules/core/src/main/java/org/locationtech/jts/algorithm/InteriorPointArea.java
Labels: jts-core, type-cleanup

#379 Fix PackedCoordinateSequence.Float constructor
  modules/core/src/main/java/org/locationtech/jts/geom/impl/PackedCoordinateSequence.java
  modules/core/src/test/java/org/locationtech/jts/geom/impl/PackedCoordinateSequenceDoubleTest.java
  modules/core/src/test/java/org/locationtech/jts/geom/impl/PackedCoordinateSequenceFloatTest.java
  modules/core/src/test/java/org/locationtech/jts/geom/impl/PackedCoordinateSequenceTest.java
Labels: jts-core, type-bug, type-enhancement

#383 Fix and add code documentation to PackedCoordinateSequence
  modules/core/src/main/java/org/locationtech/jts/geom/impl/PackedCoordinateSequence.java
  modules/core/src/main/java/org/locationtech/jts/geom/impl/PackedCoordinateSequenceFactory.java
Labels: javadoc

#384 Polygonizer tests
  modules/app/src/main/java/org/locationtech/jtstest/function/PolygonizeFunctions.java
  modules/tests/src/main/java/org/locationtech/jtstest/geomop/TestCaseGeometryFunctions.java
  modules/tests/src/test/resources/testxml/general/TestPolygonizeValidArea.xml
Labels: jts-core, type-test
