Repository locationtech/jts, pull requests merged in 2019-03, with the labels that each got.

#387 IndexedFacetDistance withinDistance
  modules/app/src/main/java/org/locationtech/jtstest/function/CreateShapeFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/function/SelectionFunctions.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/BoundablePair.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/EnvelopeUtil.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/STRtree.java
  modules/core/src/main/java/org/locationtech/jts/operation/distance/IndexedFacetDistance.java
  modules/core/src/test/java/org/locationtech/jts/operation/distance/AbstractDistanceTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/distance/IndexedFacetDistanceTest.java
  modules/core/src/test/java/test/jts/perf/operation/distance/TestPerfDistanceLinesPoints.java
Labels: jts-core, type-enhancement

#388 Move isWithinDistance short-circuit logic
  modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java
  modules/core/src/main/java/org/locationtech/jts/operation/distance/DistanceOp.java
Labels: jts-core, type-enhancement

#390 Improve Testbuilder styling
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/AppColors.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/AppStrings.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ColorControl.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/GeometryEditPanel.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/GeometryViewStylePanel.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/LabelComponentsPanel.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/LayerListPanel.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/LayerStylePanel.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/SwingUtil.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/render/RenderManager.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/style/BasicStyle.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/style/LayerStyle.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/style/VertexStyle.java
Labels: jts-app, type-enhancement

#391 STRtree NearestNeighbour refactoring
  modules/app/src/main/java/org/locationtech/jtstest/function/SpatialIndexFunctions.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/BoundablePair.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/BoundablePairDistanceComparator.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/EnvelopeUtil.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/GeometryItemDistance.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/ItemDistance.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/STRtree.java
  modules/core/src/main/java/org/locationtech/jts/util/PriorityQueue.java
  modules/core/src/test/java/org/locationtech/jts/index/strtree/STRtreeNearestNeighbourTest.java
  modules/core/src/test/java/org/locationtech/jts/index/strtree/STRtreeTest.java
  modules/core/src/test/java/test/jts/perf/operation/distance/TestStressEnvelopeMinMaxDistance.java
Labels: jts-core, type-enhancement

#393 Refactor method to change PM
  modules/core/src/main/java/org/locationtech/jts/geom/GeometryFactory.java
Labels: jts-core, type-refactor

#399 Fixes for Segment Noding to avoid 1-point edges and collapsed edges
  modules/core/src/main/java/org/locationtech/jts/noding/SegmentNode.java
  modules/core/src/main/java/org/locationtech/jts/noding/SegmentNodeList.java
  modules/core/src/test/java/org/locationtech/jts/noding/snapround/SegmentStringNodingTest.java
Labels: jts-core-overlay, type-bug

#401 Fix invalid LinearLocation segmentFraction
  modules/core/src/main/java/org/locationtech/jts/linearref/LinearLocation.java
Labels: jts-core, type-bug

#402 Add LinearLocation test for end of line
  modules/core/src/test/java/org/locationtech/jts/linearref/LinearLocationTest.java
Labels: jts-core, type-test
