Repository locationtech/jts, pull requests merged in 2019-12, with the labels that each got.

#502 Fix VariableBufferTest to use an equality tolerance
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/VariableBufferTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
Labels: type-test

#504 Add envelope to Geometry.copy
  modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java
Labels: jts-core, type-improvement

#506 Implement add() and substract() for Vector3D
  modules/core/src/main/java/org/locationtech/jts/math/Vector3D.java
Labels: jts-core, type-improvement

#507 Add Vector3D tests and doc
  modules/core/src/main/java/org/locationtech/jts/math/Vector3D.java
  modules/core/src/test/java/org/locationtech/jts/math/Vector3DTest.java
Labels: jts-core, type-test
