Repository locationtech/jts, pull requests merged in 2020-04, with the labels that each got.

#530 Maximum Inscribed Circle and Largest Empty Circle
  doc/JTS_Version_History.md
  modules/app/src/main/java/org/locationtech/jtstest/function/BufferFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/function/ConstructionFunctions.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircle.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/MaximumInscribedCircle.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/package.html
  modules/core/src/test/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircleTest.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/construct/MaximumInscibedCircleTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
Labels: jts-core, type-new-feature

#533 Fixed MinimumBoundingCircle.getMaximumDiameter() to handle case where extremalPts[2]-[0] is longest
  modules/core/src/main/java/org/locationtech/jts/algorithm/MinimumBoundingCircle.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/MinimumBoundingCircleTest.java
Labels: jts-core, type-bug

#534 Add DistanceOp line-line short-circuit optimizations
  modules/core/src/main/java/org/locationtech/jts/operation/distance/DistanceOp.java
Labels: jts-core, type-improvement

#535 Convert TestFunction XML files to TestOverlay
  modules/tests/src/test/resources/testxml/general/TestFunctionLAPrec.xml
  modules/tests/src/test/resources/testxml/general/TestFunctionLLPrec.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayAA.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayAAPrec.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayLA.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayLAPrec.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayLL.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayLLPrec.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayPA.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayPL.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayPLPrec.xml
  modules/tests/src/test/resources/testxml/general/TestOverlayPP.xml
Labels: jts-core-overlay, type-cleanup

#536 Fix JTSTEstRunnerCmd
  bin/test.bat
  bin/test_robust.bat
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestReader.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TestRun.java
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/TopologyTestApp.java
Labels: jts-tests, type-bug, type-cleanup
