Repository locationtech/jts, pull requests merged in 2020-11, with the labels that each got.

#634 Support read and initialize internal structure of STRtree and Quadtree
  modules/core/src/main/java/org/locationtech/jts/index/quadtree/Node.java
  modules/core/src/main/java/org/locationtech/jts/index/quadtree/Quadtree.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/AbstractNode.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/AbstractSTRtree.java
  modules/core/src/main/java/org/locationtech/jts/index/strtree/STRtree.java
  modules/core/src/test/java/org/locationtech/jts/index/strtree/STRtreeTest.java
Labels: jts-core, type-improvement

#644 Remove OverlapUnion optimization from CascadedPolygonUnion
  modules/core/src/main/java/org/locationtech/jts/operation/union/CascadedPolygonUnion.java
  modules/core/src/main/java/org/locationtech/jts/operation/union/OverlapUnion.java
Labels: jts-core-overlay, type-perf

#645 Add Z handling to OverlayNG
  modules/core/src/main/java/org/locationtech/jts/algorithm/RobustLineIntersector.java
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateXY.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/ElevationModel.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNG.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/RobustLineIntersectorZTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/ElevationModelTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGZTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
Labels: jts-core-overlay, type-improvement

#647 Update BufferOp to use SnapRoundingNoder
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/BufferOp.java
  modules/core/src/test/java/test/jts/perf/operation/buffer/IteratedBufferStressTest.java
  modules/tests/src/test/resources/testxml/robust/TestBufferJagged.xml
Labels: jts-core, type-improvement
