Repository locationtech/jts, pull requests merged in 2020-07, with the labels that each got.

#559 CGAlgorithms: links to alternatives for @deprecated methods and fields
  modules/core/src/main/java/org/locationtech/jts/algorithm/CGAlgorithms.java
Labels: javadoc, type-improvement

#561 Add JtsOp explode option
  modules/app/src/main/java/org/locationtech/jtstest/cmd/CommandOptions.java
  modules/app/src/main/java/org/locationtech/jtstest/cmd/JTSOpCmd.java
  modules/app/src/main/java/org/locationtech/jtstest/cmd/JTSOpRunner.java
  modules/app/src/test/java/org/locationtech/jtstest/cmd/JTSOpCmdTest.java
Labels: tools, type-new-feature

#562 Add WKTConstants class
  modules/core/src/main/java/org/locationtech/jts/io/WKTConstants.java
  modules/core/src/main/java/org/locationtech/jts/io/WKTReader.java
  modules/core/src/main/java/org/locationtech/jts/io/WKTWriter.java
Labels: jts-io, type-improvement

#565 Enhance TestRunner geomfunc option to support multiple classes
  modules/tests/src/main/java/org/locationtech/jtstest/testrunner/JTSTestRunnerCmd.java
Labels: jts-tests, tools, type-improvement

#567 Add WKB support for POINT EMPTY
  modules/core/src/main/java/org/locationtech/jts/io/WKBReader.java
  modules/core/src/main/java/org/locationtech/jts/io/WKBWriter.java
  modules/core/src/test/java/org/locationtech/jts/io/WKBTest.java
Labels: jts-io, type-improvement

#528 Add CoordinateArrays.scroll function overloads to
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateArrays.java
  modules/core/src/test/java/org/locationtech/jts/geom/CoordinateArraysTest.java
Labels: jts-core, type-improvement

#569 Fix TestRunner function replacement
  modules/tests/src/main/java/org/locationtech/jtstest/geomop/GeometryFunctionRegistry.java
Labels: jts-tests, type-improvement
