Repository locationtech/jts, pull requests merged in 2020-10, with the labels that each got.

#608 Fix HotPixel intersects test
  modules/core/src/main/java/org/locationtech/jts/noding/snapround/HotPixel.java
  modules/core/src/test/java/org/locationtech/jts/noding/snapround/HotPixelTest.java
Labels: type-bug

#609 Update junit to v4.13 (#607)
  modules/core/src/test/java/org/locationtech/jts/io/kml/KMLReaderTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/BufferValidator.java
  modules/core/src/test/java/org/locationtech/jts/simplify/GeometryOperationValidator.java
  pom.xml
Labels: build, type-improvement

#610 Add tests for SegmentNode ordering
  modules/core/src/test/java/org/locationtech/jts/noding/NodedSegmentStringTest.java
  modules/core/src/test/java/org/locationtech/jts/noding/NodingTestUtil.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGRobustTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
Labels: jts-core, type-test

#614 Fix CoverageUnion to use overlay strict mode
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNG.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/CoverageUnionTest.java
Labels: jts-core-overlay, type-bug

#616 Fix WKTFileReader lookahead
  modules/core/src/main/java/org/locationtech/jts/io/WKTFileReader.java
Labels: jts-core, type-bug

#617 Add JtsOpCmd limit and offset options
  modules/app/src/main/java/org/locationtech/jtstest/cmd/CommandOptions.java
  modules/app/src/main/java/org/locationtech/jtstest/cmd/JTSOpCmd.java
  modules/app/src/main/java/org/locationtech/jtstest/cmd/JTSOpRunner.java
  modules/app/src/main/java/org/locationtech/jtstest/util/io/MultiFormatFileReader.java
Labels: jts-app, type-new-feature

#618 Fix OverlayNGRobust self-snapping to prevent heterogeneous results
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/EdgeNodingBuilder.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNG.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNGRobust.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/package.html
  modules/tests/src/test/resources/testxml/robust/overlay/TestOverlay-rsf-794.xml
Labels: jts-core-overlay, type-bug

#622 Fix WKBWriter output for POINT EMPTY 3D
  modules/core/src/main/java/org/locationtech/jts/io/WKBWriter.java
  modules/core/src/test/java/org/locationtech/jts/io/WKBWriterTest.java
Labels: jts-core, type-bug

#623 Improve WKBWriter to write empty polygons with zero rings
  modules/core/src/main/java/org/locationtech/jts/io/WKBWriter.java
  modules/core/src/test/java/org/locationtech/jts/io/WKBWriterTest.java
Labels: jts-core, type-improvement

#628 Fix Geometry.reverse bugs
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateSequences.java
  modules/core/src/main/java/org/locationtech/jts/geom/GeometryCollection.java
  modules/core/src/main/java/org/locationtech/jts/geom/MultiLineString.java
  modules/core/src/main/java/org/locationtech/jts/geom/MultiPoint.java
  modules/core/src/main/java/org/locationtech/jts/geom/MultiPolygon.java
  modules/core/src/test/java/org/locationtech/jts/geom/GeometryReverseTest.java
  modules/core/src/test/java/test/jts/GeometryTestData.java
Labels: jts-core, type-bug
