Repository locationtech/jts, pull requests merged in 2020-08, with the labels that each got.

#572 Make IndexedPointInAreaLocator index creation thread-safe
  modules/core/src/main/java/org/locationtech/jts/algorithm/locate/IndexedPointInAreaLocator.java
Labels: jts-core, type-bug

#574 Fix IndexedPointInAreaLocator to reduce calls to synchronized method
  modules/core/src/main/java/org/locationtech/jts/algorithm/locate/IndexedPointInAreaLocator.java
  modules/core/src/test/java/test/jts/perf/algorithm/IndexedPointInAreaPerfTest.java
Labels: jts-core, type-improvement

#575 Fix WKTReader to read MultiPoint with EMPTY
  modules/core/src/main/java/org/locationtech/jts/io/WKTReader.java
  modules/core/src/test/java/org/locationtech/jts/io/WKTReaderTest.java
Labels: jts-core, type-bug

#577 Improve performance of PreparedPolygon.contains(Points)
  modules/core/src/main/java/org/locationtech/jts/geom/prep/AbstractPreparedPolygonContains.java
  modules/core/src/main/java/org/locationtech/jts/geom/prep/PreparedPolygonPredicate.java
  modules/core/src/test/java/test/jts/perf/geom/prep/PreparedPolygonCoversPerfTest.java
Labels: jts-core, type-perf

#582 Adjust reverse and reverseInternal visibility and type narrowing
  modules/core/src/main/java/org/locationtech/jts/geom/GeometryCollection.java
  modules/core/src/main/java/org/locationtech/jts/geom/LineString.java
  modules/core/src/main/java/org/locationtech/jts/geom/LinearRing.java
  modules/core/src/main/java/org/locationtech/jts/geom/MultiLineString.java
  modules/core/src/main/java/org/locationtech/jts/geom/MultiPoint.java
  modules/core/src/main/java/org/locationtech/jts/geom/MultiPolygon.java
  modules/core/src/main/java/org/locationtech/jts/geom/Point.java
  modules/core/src/main/java/org/locationtech/jts/geom/Polygon.java
Labels: jts-core, type-bug

#584 Remove enforcing array consistency from CoordinateArraySequence
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateArrays.java
  modules/core/src/main/java/org/locationtech/jts/geom/Coordinates.java
  modules/core/src/main/java/org/locationtech/jts/geom/impl/CoordinateArraySequence.java
  modules/core/src/test/java/org/locationtech/jts/geom/CoordinateArraysTest.java
Labels: jts-core, type-cleanup

#588 Improve Orientation isCCW to handle topology collapse
  modules/core/src/main/java/org/locationtech/jts/algorithm/Orientation.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/IsCCWTest.java
Labels: jts-core, type-improvement
