Repository locationtech/jts, pull requests merged in 2020-09, with the labels that each got.

#589 Fix RayCrossingCounter to handle XYZM coordinates
  modules/core/src/main/java/org/locationtech/jts/algorithm/RayCrossingCounter.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/RayCrossingCounterTest.java
Labels: jts-core, type-bug

#595 Add Densifer setValidated method
  modules/core/src/main/java/org/locationtech/jts/densify/Densifier.java
  modules/core/src/test/java/org/locationtech/jts/densify/DensifierTest.java
Labels: type-improvement

#596 Fix OrdinateFormat to avoid NO locale bug
  modules/core/src/main/java/org/locationtech/jts/io/OrdinateFormat.java
  modules/core/src/test/java/org/locationtech/jts/io/OrdinateFormatTest.java
Labels: type-bug

#594 FAQ: repair links to javadocs; mention correct Java version (1.8)
  jts-faq.html
Labels: doc

#593 Add KMLReader for reading KML geometry elements with attributes
  modules/core/src/main/java/org/locationtech/jts/io/kml/KMLReader.java
  modules/core/src/test/java/org/locationtech/jts/io/kml/KMLReaderTest.java
Labels: jts-core, type-new-feature

#600 Fix GeoJsonReader to handle empty arrays
  modules/io/common/src/main/java/org/locationtech/jts/io/geojson/GeoJsonReader.java
  modules/io/common/src/test/java/org/locationtech/jts/io/geojson/GeoJsonReaderTest.java
Labels: jts-io, type-bug

#603 Add KdTree size and depth methods
  modules/core/src/main/java/org/locationtech/jts/index/kdtree/KdTree.java
  modules/core/src/test/java/org/locationtech/jts/index/kdtree/KdTreeTest.java
Labels: jts-core, type-new-feature

#604 Reduce HotPixel memory usage
  modules/core/src/main/java/org/locationtech/jts/noding/snapround/HotPixel.java
Labels: jts-core, jts-core-overlay, type-improvement

#605 Fix StackOverflowError in HotPixelIndex
  modules/core/src/main/java/org/locationtech/jts/noding/snapround/HotPixelIndex.java
Labels: jts-core-overlay, type-improvement, type-perf
