Repository locationtech/jts, pull requests merged in 2021-12, with the labels that each got.

#810 Add OffsetCurve class
  modules/app/src/main/java/org/locationtech/jtstest/function/BufferFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/function/OffsetCurveFunctions.java
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
  modules/core/src/main/java/org/locationtech/jts/geom/util/GeometryMapper.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/BufferBuilder.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/BufferCurveSetBuilder.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetCurve.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetCurveBuilder.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetSegmentGenerator.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/SegmentMCIndex.java
  modules/core/src/test/java/org/locationtech/jts/geom/LineSegmentTest.java
  modules/core/src/test/java/org/locationtech/jts/geom/util/GeometryMapperTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/OffsetCurveTest.java
Labels: jts-core, type-new-feature

#812 Add OverlayNG area check heuristic
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNG.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayUtil.java
  modules/tests/src/test/resources/testxml/robust/overlay/TestOverlay-jts-798.xml
  modules/tests/src/test/resources/testxml/robust/overlay/TestOverlay-jts-808.xml
Labels: type-improvement, jts-core-overlay

#814 Fix PolygonEarClipper to handle collapsed corners
  modules/app/src/main/java/org/locationtech/jtstest/function/TriangulatePolyFunctions.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/polygon/PolygonEarClipper.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/polygon/PolygonHoleJoiner.java
  modules/core/src/test/java/org/locationtech/jts/triangulate/polygon/PolygonTriangulatorTest.java
Labels: type-bug, jts-core

#811 Fix violations of Sonar rule 2184
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ui/style/VertexStyle.java
Labels: jts-app

#816 Add OffsetCurve parameters
  modules/app/src/main/java/org/locationtech/jtstest/function/OffsetCurveFunctions.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/BufferParameters.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetCurve.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/OffsetCurveTest.java
Labels: type-improvement, jts-core

#818 Fix the buffer generated for Mitred Joins
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetSegmentGenerator.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/BufferParameterTest.java
Labels: type-bug, jts-core

#819 Add IntersectionLineSegment function
  modules/core/src/main/java/org/locationtech/jts/algorithm/Intersection.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetSegmentGenerator.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/IntersectionTest.java
Labels: type-improvement, jts-core, type-refactor
