Repository locationtech/jts, pull requests merged in 2021-01, with the labels that each got.

#637 Fix Densifier to use correct Coordinate class, add Coordinate create methods
  modules/core/src/main/java/org/locationtech/jts/geom/Coordinate.java
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateXY.java
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateXYM.java
  modules/core/src/main/java/org/locationtech/jts/geom/CoordinateXYZM.java
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
  modules/core/src/test/java/org/locationtech/jts/densify/DensifierTest.java
Labels: jts-core, type-bug, type-improvement

#665 Preserve line order in OverlayNG
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/EdgeMerger.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/LineBuilder.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
Labels: jts-core-overlay, type-improvement

#669 Add UnaryUnionNG functions for collections
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/UnaryUnionNG.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/UnaryUnionNGTest.java
  modules/core/src/test/java/test/jts/GeometryTestCase.java
Labels: jts-core-overlay, type-improvement

#670 Add OverlayNGRobust unary union methods for collections
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNGRobust.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGRobustTest.java
Labels: jts-core-overlay, type-improvement

#671 Fix RelateOp for empty geometry and closed linear geometry
  modules/core/src/main/java/org/locationtech/jts/operation/BoundaryOp.java
  modules/core/src/main/java/org/locationtech/jts/operation/relate/RelateComputer.java
  modules/core/src/test/java/org/locationtech/jts/operation/BoundaryTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/relate/RelateBoundaryNodeRuleTest.java
  modules/tests/src/test/resources/testxml/general/TestRelateLA.xml
  modules/tests/src/test/resources/testxml/general/TestRelateLL.xml
Labels: jts-core, type-bug

#664 Switch to compact WKB format
  modules/core/src/main/java/org/locationtech/jts/io/WKBReader.java
  modules/core/src/main/java/org/locationtech/jts/io/WKBWriter.java
  modules/core/src/test/java/org/locationtech/jts/io/WKBReaderTest.java
  modules/core/src/test/java/org/locationtech/jts/io/WKBWriterTest.java
Labels: jts-core, type-improvement

#673 Add WKBDump utility
  modules/app/src/main/java/org/locationtech/jtstest/cmd/WKBDump.java
  modules/app/src/main/java/org/locationtech/jtstest/function/WriterFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/util/io/WKBDumper.java
  modules/core/src/main/java/org/locationtech/jts/io/ByteOrderDataInStream.java
Labels: jts-app, type-new-feature

#675 Improve WKBReader error checking
  modules/app/src/main/java/org/locationtech/jtstest/util/io/WKBDumper.java
  modules/core/src/main/java/org/locationtech/jts/io/ByteArrayInStream.java
  modules/core/src/main/java/org/locationtech/jts/io/ByteOrderDataInStream.java
  modules/core/src/main/java/org/locationtech/jts/io/InStream.java
  modules/core/src/main/java/org/locationtech/jts/io/InputStreamInStream.java
  modules/core/src/main/java/org/locationtech/jts/io/WKBReader.java
  modules/core/src/test/java/org/locationtech/jts/io/WKBReaderTest.java
Labels: jts-core, type-bug, type-improvement

#676 Fix Densifier for segs with length equal to distance tol
  modules/core/src/main/java/org/locationtech/jts/densify/Densifier.java
  modules/core/src/main/java/org/locationtech/jts/geom/util/GeometryTransformer.java
  modules/core/src/test/java/org/locationtech/jts/densify/DensifierTest.java
Labels: jts-core, type-bug

#677 Improve Densifier splitting algorithm
  modules/core/src/main/java/org/locationtech/jts/densify/Densifier.java
  modules/core/src/test/java/org/locationtech/jts/densify/DensifierTest.java
  modules/tests/src/test/resources/testxml/general/TestDensify.xml
Labels: jts-core, type-improvement
