Repository locationtech/jts, pull requests merged in 2021-02, with the labels that each got.

#678 Fix Polygon.compareTo to test holes
  modules/core/src/main/java/org/locationtech/jts/geom/Polygon.java
  modules/core/src/test/java/org/locationtech/jts/geom/GeometryCompareToTest.java
Labels: jts-core, type-bug

#682 Lower LinearRing min vertex limit to 3
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/io/shapefile/PolygonHandler.java
  modules/core/src/main/java/org/locationtech/jts/geom/LinearRing.java
  modules/core/src/test/java/org/locationtech/jts/geom/LineStringImplTest.java
Labels: jts-core, type-improvement

#683 Add support, tests for invalid rings
  modules/core/src/main/java/org/locationtech/jts/algorithm/Orientation.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/OrientationIsCCWTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGInvalidTest.java
  modules/tests/src/test/resources/testxml/general/TestBuffer.xml
  modules/tests/src/test/resources/testxml/general/TestCentroid.xml
  modules/tests/src/test/resources/testxml/general/TestSimple.xml
  modules/tests/src/test/resources/testxml/general/TestValid.xml
Labels: jts-core, type-improvement

#685 Fix OverlayNG handling of flat interior lines
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayUtil.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGTest.java
  modules/tests/src/test/resources/testxml/general/TestNGOverlayL.xml
Labels: jts-core-overlay, type-bug

#688 Fix GeoJSONWriter to emit empty coordinates array for empty point and linestring
  modules/io/common/src/main/java/org/locationtech/jts/io/geojson/GeoJsonWriter.java
  modules/io/common/src/test/java/org/locationtech/jts/io/geojson/GeoJsonWriterTest.java
Labels: jts-io, type-improvement

#692 Fix Polygonizer to avoid NPE on invalid input
  modules/core/src/main/java/org/locationtech/jts/operation/polygonize/EdgeRing.java
  modules/core/src/test/java/org/locationtech/jts/operation/polygonize/PolygonizerTest.java
Labels: jts-core, type-bug

#696 Add MaximumInscribedCircle check for invalid tolerance
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/MaximumInscribedCircle.java
Labels: jts-core, type-improvement

#694 Allow GeoJSONWriter to force polygons to be CCW
  modules/io/common/src/main/java/org/locationtech/jts/io/geojson/GeoJsonWriter.java
  modules/io/common/src/main/java/org/locationtech/jts/io/geojson/OrientationTransformer.java
  modules/io/common/src/test/java/org/locationtech/jts/io/geojson/GeoJsonWriterTest.java
Labels: jts-io, type-improvement
