Repository locationtech/jts, pull requests merged in 2021-05, with the labels that each got.

#717 Improve IsSimpleOp design and performance
  modules/app/src/main/java/org/locationtech/jtstest/function/ValidationFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/ValidPanel.java
  modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java
  modules/core/src/main/java/org/locationtech/jts/operation/IsSimpleOp.java
  modules/core/src/main/java/org/locationtech/jts/operation/valid/IsSimpleOp.java
  modules/core/src/test/java/org/locationtech/jts/operation/valid/IsSimpleTest.java
  modules/tests/src/test/resources/testxml/general/TestSimple.xml
Labels: jts-core, type-bug, type-improvement

#719 Minor javadoc improvements
  modules/app/src/main/java/org/locationtech/jtstest/testbuilder/io/shapefile/PolygonHandler.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/Angle.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircle.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/MaximumInscribedCircle.java
  modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
  modules/core/src/main/java/org/locationtech/jts/geom/Triangle.java
  modules/core/src/main/java/org/locationtech/jts/geomgraph/index/MonotoneChainIndexer.java
  modules/core/src/main/java/org/locationtech/jts/operation/IsSimpleOp.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlay/PolygonBuilder.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/EdgeKey.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayEdgeRing.java
  modules/core/src/main/java/org/locationtech/jts/operation/polygonize/EdgeRing.java
  modules/core/src/main/java/org/locationtech/jts/operation/polygonize/HoleAssigner.java
  modules/core/src/main/java/org/locationtech/jts/operation/predicate/RectangleContains.java
  modules/core/src/main/java/org/locationtech/jts/operation/valid/IsValidOp.java
  modules/core/src/main/java/org/locationtech/jts/planargraph/DirectedEdge.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/OrientationIndexTest.java
Labels: doc

#723 Fix Angle#interiorAngle method
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/algorithm/Angle.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/AngleTest.java
Labels: jts-core, type-bug

#730 Typo error: check identical expression.
  modules/core/src/main/java/org/locationtech/jts/geom/GeometryOverlay.java
Labels: jts-core-overlay, type-bug
