Repository locationtech/jts, pull requests merged in 2022-04, with the labels that each got.

#856 Remove unsafe System calls from core
  modules/core/src/main/java/org/locationtech/jts/algorithm/RobustLineIntersector.java
  modules/core/src/main/java/org/locationtech/jts/geomgraph/DirectedEdgeStar.java
  modules/core/src/main/java/org/locationtech/jts/geomgraph/EdgeEndStar.java
  modules/core/src/main/java/org/locationtech/jts/geomgraph/PlanarGraph.java
  modules/core/src/main/java/org/locationtech/jts/index/hprtree/HPRtree.java
  modules/core/src/main/java/org/locationtech/jts/noding/ScaledNoder.java
  modules/core/src/main/java/org/locationtech/jts/noding/snapround/MCIndexSnapRounder.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/validate/BufferDistanceValidator.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/validate/BufferResultValidator.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlay/snap/SnapOverlayOp.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlay/validate/OverlayResultValidator.java
  modules/core/src/main/java/org/locationtech/jts/operation/polygonize/EdgeRing.java
  modules/core/src/main/java/org/locationtech/jts/operation/union/UnionInteracting.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/quadedge/QuadEdgeSubdivision.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/quadedge/TrianglePredicate.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/quadedge/Vertex.java
Labels: jts-core, type-cleanup

#859 Fix LengthLocationMap.getLength for component end points
  modules/core/src/main/java/org/locationtech/jts/linearref/LengthLocationMap.java
  modules/core/src/test/java/org/locationtech/jts/linearref/LengthIndexedLineTest.java
  modules/core/src/test/java/org/locationtech/jts/linearref/LengthLocationMapTest.java
Labels: type-bug, jts-core

#861 Add PolygonHull class
  modules/app/src/main/java/org/locationtech/jtstest/function/HullFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/geomfunction/GeometryFunctionRegistry.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/LinkedRing.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/PolygonHull.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/RingHull.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/RingHullIndex.java
  modules/core/src/main/java/org/locationtech/jts/index/VertexSequencePackedRtree.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/polygon/PolygonEarClipper.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/hull/PolygonHullTest.java
  modules/core/src/test/java/org/locationtech/jts/index/VertexSequencePackedRtreeTest.java
Labels: jts-core, type-new-feature

#862 Fix PolygonHoleJoiner
  modules/core/src/main/java/org/locationtech/jts/triangulate/polygon/PolygonHoleJoiner.java
  modules/core/src/test/java/org/locationtech/jts/triangulate/polygon/ConstrainedDelaunayTriangulatorTest.java
  modules/core/src/test/java/org/locationtech/jts/triangulate/polygon/PolygonTriangulatorTest.java
Labels: type-bug, type-cleanup
