Repository locationtech/jts, pull requests merged in 2022-10, with the labels that each got.

#911 Add Polygonal Coverage simplification
  modules/app/src/main/java/org/locationtech/jtstest/function/CoverageFunctions.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageBoundarySegmentFinder.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageEdge.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageRingEdges.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageSimplifier.java
  modules/core/src/main/java/org/locationtech/jts/coverage/TPVWSimplifier.java
  modules/core/src/main/java/org/locationtech/jts/coverage/VertexCounter.java
  modules/core/src/main/java/org/locationtech/jts/simplify/Corner.java
  modules/core/src/main/java/org/locationtech/jts/simplify/LinkedLine.java
  modules/core/src/test/java/org/locationtech/jts/coverage/CoverageSimplifierTest.java
Labels: jts-core, type-new-feature

#914 Fix LineSegment.orientationIndex(LineSegment)
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
  modules/core/src/test/java/org/locationtech/jts/geom/LineSegmentTest.java
Labels: type-bug, jts-core

#910 Update LineSegment#toString to be consistent with LineString WKT representation
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
Labels: type-improvement, jts-core

#915 Add OverlayNG support for simple GeometryCollection inputs
  modules/core/src/main/java/org/locationtech/jts/algorithm/locate/IndexedPointInAreaLocator.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayMixedPoints.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayNG.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayPoints.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/OverlayUtil.java
  modules/core/src/main/java/org/locationtech/jts/operation/overlayng/package-info.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGGeometryCollectionTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/OverlayNGTestCase.java
Labels: type-improvement, jts-core-overlay
