Repository locationtech/jts, pull requests merged in 2022-05, with the labels that each got.

#867 Fix GeometryFixer via buffer-0 noding robustness check
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/BufferBuilder.java
  modules/core/src/main/java/org/locationtech/jts/operation/union/CascadedPolygonUnion.java
  modules/core/src/test/java/org/locationtech/jts/geom/util/GeometryFixerTest.java
  modules/tests/src/test/resources/testxml/general/TestUnaryUnionFloating.xml
Labels: type-bug, jts-core

#868 Improve PolygonHull to avoid exceeding target parameter
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/PolygonHull.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/RingHull.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/hull/PolygonHullTest.java
Labels: type-improvement

#870 Add `ConcaveHullOfPolygons` class
  modules/app/src/main/java/org/locationtech/jtstest/function/HullFunctions.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/ConcaveHull.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/ConcaveHullOfPolygons.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/hull/package-info.java
  modules/core/src/main/java/org/locationtech/jts/triangulate/tri/Tri.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/hull/ConcaveHullOfPolygonsTest.java
Labels: jts-core, type-new-feature

#872 Improve LineSegment hashCode implementation
  modules/core/src/main/java/org/locationtech/jts/geom/LineSegment.java
  modules/core/src/test/java/org/locationtech/jts/geom/LineSegmentTest.java
  modules/core/src/test/java/test/jts/perf/geom/LineSegmentHashCodePerfTest.java
Labels: type-improvement, jts-core

#875 Fix MinimumDiameter minimumRectangle for flat input
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/algorithm/MinimumDiameter.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/MinimumRectanglelTest.java
Labels: type-bug, jts-core

#854 TWKB read and write implementation
  build-tools/src/main/resources/jts/suppressions.xml
  modules/core/pom.xml
  modules/io/common/pom.xml
  modules/io/common/src/main/java/org/locationtech/jts/io/twkb/BoundsExtractor.java
  modules/io/common/src/main/java/org/locationtech/jts/io/twkb/TWKBHeader.java
  modules/io/common/src/main/java/org/locationtech/jts/io/twkb/TWKBReader.java
  modules/io/common/src/main/java/org/locationtech/jts/io/twkb/TWKBWriter.java
  modules/io/common/src/main/java/org/locationtech/jts/io/twkb/Varint.java
  modules/io/common/src/test/java/org/locationtech/jts/io/twkb/TWKBReadWriteTest.java
  modules/io/common/src/test/java/org/locationtech/jts/io/twkb/TWKBReaderTest.java
  modules/io/common/src/test/java/org/locationtech/jts/io/twkb/TWKBTestSupport.java
  modules/io/common/src/test/java/org/locationtech/jts/io/twkb/TWKBWriterTest.java
  modules/io/common/src/test/java/org/locationtech/jts/io/twkb/VarintTest.java
  modules/io/common/src/test/resources/testdata/twkb/generate_test_data.sql
  modules/io/common/src/test/resources/testdata/twkb/geometrycollections.csv
  modules/io/common/src/test/resources/testdata/twkb/linestrings.csv
  modules/io/common/src/test/resources/testdata/twkb/multilinestrings.csv
  modules/io/common/src/test/resources/testdata/twkb/multipoints.csv
  modules/io/common/src/test/resources/testdata/twkb/multipolygons.csv
  modules/io/common/src/test/resources/testdata/twkb/points.csv
  modules/io/common/src/test/resources/testdata/twkb/polygons.csv
  pom.xml
Labels: jts-io, type-new-feature

#878 Fix buffer optimization for inverted rings
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/BufferCurveSetBuilder.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/BufferTest.java
Labels: type-bug, jts-core
