Repository locationtech/jts, pull requests merged in 2022-03, with the labels that each got.

#848 Add WKTReader fixStructure ability
  modules/core/src/main/java/org/locationtech/jts/geom/LineString.java
  modules/core/src/main/java/org/locationtech/jts/io/WKTReader.java
  modules/core/src/test/java/org/locationtech/jts/io/WKTReaderFixStructureTest.java
  modules/core/src/test/java/org/locationtech/jts/io/WKTReaderTest.java
Labels: type-improvement, jts-core

#851 Fix IsSimpleOp for repeated endpoints
  modules/core/src/main/java/org/locationtech/jts/operation/valid/IsSimpleOp.java
  modules/core/src/test/java/org/locationtech/jts/operation/valid/IsSimpleTest.java
  modules/tests/src/test/resources/testxml/general/TestSimple.xml
Labels: type-bug, jts-core

#855 Exclude junit compile dependency from json-simple
  pom.xml
Labels: type-improvement, build
