Repository locationtech/jts, pull requests merged in 2023-03, with the labels that each got.

#965 Fix CoveragePolygonValidator to detect segment-equal covering polygons
  modules/core/src/main/java/org/locationtech/jts/coverage/CoveragePolygonValidator.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageRing.java
  modules/core/src/main/java/org/locationtech/jts/coverage/InvalidSegmentDetector.java
  modules/core/src/test/java/org/locationtech/jts/coverage/CoveragePolygonValidatorTest.java
  modules/core/src/test/java/org/locationtech/jts/coverage/CoverageValidatorTest.java
Labels: type-improvement, jts-core

#963 Fix coverage simplifier issues 953 962
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageEdge.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageRingEdges.java
  modules/core/src/main/java/org/locationtech/jts/coverage/CoverageSimplifier.java
  modules/core/src/main/java/org/locationtech/jts/coverage/TPVWSimplifier.java
  modules/core/src/main/java/org/locationtech/jts/simplify/LinkedLine.java
  modules/core/src/test/java/org/locationtech/jts/coverage/CoverageSimplifierTest.java
Labels: type-bug, type-improvement

#970 Improve use of isFreeRing in createEdges
  modules/core/src/main/java/org/locationtech/jts/coverage/TPVWSimplifier.java
Labels: type-improvement, jts-core

#971 Fix OffsetCurve to handle zero offset distance
  doc/JTS_Version_History.md
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetCurve.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/OffsetCurveTest.java
Labels: type-bug
