Repository locationtech/jts, pull requests merged in 2023-06, with the labels that each got.

#982 Fixes Checktype violations - removes wildcard imports
  modules/io/ora/src/main/java/org/locationtech/jts/io/oracle/OraWriter.java
Labels: jts-io, type-cleanup

#985 Improve Convex Hull performance by avoiding duplicate uniquing
  modules/core/src/main/java/org/locationtech/jts/algorithm/ConvexHull.java
  modules/core/src/test/java/test/jts/perf/algorithm/ConvexHullPerfTest.java
Labels: type-improvement, jts-core, type-perf

#987 Fix Geometry.getCoordinate for collections with empty first element
  modules/core/src/main/java/org/locationtech/jts/geom/Geometry.java
  modules/core/src/main/java/org/locationtech/jts/geom/GeometryCollection.java
  modules/core/src/test/java/org/locationtech/jts/geom/GeometryCoordinateTest.java
Labels: type-bug, jts-core

#988 Fix LargestEmptyCircle to handle polygonal obstacles
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/IndexedDistanceToPoint.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/IndexedPointInPolygonsLocater.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircle.java
  modules/core/src/main/java/org/locationtech/jts/geom/util/PolygonalExtracter.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircleTest.java
Labels: type-bug, jts-core
