Repository locationtech/jts, pull requests merged in 2024-06, with the labels that each got.

#1055 Add RelateNG envelope interaction/covers optimizations
  modules/app/src/main/java/org/locationtech/jtstest/function/SelectionFunctions.java
  modules/app/src/main/java/org/locationtech/jtstest/function/SelectionNGFunctions.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/IMPatternMatcher.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/IMPredicate.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/RelateGeometry.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/RelateMatrixPredicate.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/RelateNG.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/RelatePredicate.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/TopologyComputer.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/TopologyPredicate.java
  modules/core/src/main/java/org/locationtech/jts/operation/relateng/TopologyPredicateTracer.java
  modules/core/src/test/java/org/locationtech/jts/operation/relateng/RelateNGTest.java
Labels: jts-core, type-perf

#1058 Documentation Change:modify GeometryFixer api docs to reflect that a fixed polygon may become a multipolygon
  modules/core/src/main/java/org/locationtech/jts/geom/util/GeometryFixer.java
Labels: javadoc

#1059 Fix TopologyPreservingSimplifier ring endpoint removal indexing
  modules/core/src/main/java/org/locationtech/jts/simplify/TaggedLineString.java
  modules/core/src/main/java/org/locationtech/jts/simplify/TaggedLineStringSimplifier.java
  modules/core/src/test/java/org/locationtech/jts/simplify/TopologyPreservingSimplifierTest.java
Labels: type-bug, jts-core
