Repository locationtech/jts, pull requests merged in 2024-01, with the labels that each got.

#1012 Improve performance of HPRtree
  modules/core/src/main/java/org/locationtech/jts/index/hprtree/HPRtree.java
  modules/core/src/main/java/org/locationtech/jts/noding/MCIndexNoder.java
  modules/core/src/main/java/org/locationtech/jts/noding/snapround/MCIndexPointSnapper.java
  modules/core/src/test/java/test/jts/perf/index/FlatbushPerfTest.java
Labels: type-improvement, jts-core, jts-core-overlay

#1029 Fix OffsetCurve to ensure end segments are included
  modules/app/src/main/java/org/locationtech/jtstest/function/OffsetCurveFunctions.java
  modules/core/src/main/java/org/locationtech/jts/operation/buffer/OffsetCurve.java
  modules/core/src/test/java/org/locationtech/jts/operation/buffer/OffsetCurveTest.java
Labels: type-bug

#1031 Fix PointLocator with BoundaryNodeRule for lines
  modules/core/src/main/java/org/locationtech/jts/algorithm/PointLocator.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/PointLocatorTest.java
Labels: type-bug, jts-core
