Repository locationtech/jts, pull requests merged in 2025-05, with the labels that each got.

#1128 Add auto-tolerance to MaximumInscribedCircle and LargestEmptyCircle
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircle.java
  modules/core/src/main/java/org/locationtech/jts/algorithm/construct/MaximumInscribedCircle.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/construct/LargestEmptyCircleTest.java
  modules/core/src/test/java/org/locationtech/jts/algorithm/construct/MaximumInscribedCircleTest.java
Labels: type-improvement, jts-core

#1114 Add KdTree nearestNeighbor() and nearestNeighbors()
  modules/core/src/main/java/org/locationtech/jts/index/kdtree/KdNode.java
  modules/core/src/main/java/org/locationtech/jts/index/kdtree/KdTree.java
  modules/core/src/test/java/org/locationtech/jts/index/kdtree/KdTreeTest.java
  modules/core/src/test/java/test/jts/perf/index/KdtreePerfTest.java
  modules/core/src/test/java/test/jts/perf/index/KdtreeStressTest.java
Labels: type-new-feature

#1134 Fix BoundaryChainNoder to split chains at self-touch nodes
  modules/core/src/main/java/org/locationtech/jts/noding/BasicSegmentString.java
  modules/core/src/main/java/org/locationtech/jts/noding/BoundaryChainNoder.java
  modules/core/src/test/java/org/locationtech/jts/coverage/CoverageUnionTest.java
  modules/core/src/test/java/org/locationtech/jts/operation/overlayng/CoverageUnionTest.java
Labels: type-bug, jts-core
